body {
font-family: Arial;
background-color: white;
color: black;
/*bug*/
display: flex;
align-content: center;
justify-content: center;
gap: 20px;
}
.dark {
background-color: black;
color: white;/*bug*/
}
button {
padding: 10px;
font-size: 1.2rem;
}